.ui-widget, .ui-widget .ui-widget {
    font-size: 12px;
}

.top-aligned-columns td{
    vertical-align: top;
}

.ui-datatable-odd {
    background: #ffffff;
}

.ui-datatable-even {
    background: #F2F5F9;
}
