<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturadorGTRetail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FacturadorGTRetail.Properties.Settings>
            <setting name="COM_PORT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Modelo" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Sucursal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>http://192.168.0.2:8080/GTRetail</value>
            </setting>
        </FacturadorGTRetail.Properties.Settings>
    </userSettings>
</configuration>